html {
    scroll-behavior: smooth;
}
*{
    font-family: "Cormorant Garamond", serif; /* LETRA PARA DESCRIPCIONES */
}

.hero-portada {
  background-image: url('/img/background-velas-example.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  min-height: 60vh;    /* Para Celulares */
}

#inicio, #catalogo, #Sobre_Nosotros {
    scroll-margin-top: 100px; /* Evita que el header tape el contenido */ /* ACOMODAR PARA MÓVILES */
}

.catalog-img {
  width: 100%;
  height: 200px;        /* por defecto (celular) */
  object-fit: cover;
  border-radius: 8px;
}

.barra-compra {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffffee;
  backdrop-filter: blur(5px);
  border-top: 1px solid #ccc;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.barra-compra.hidden {
  display: none;
}

.product-select {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #555;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-select.selected {
    background-color: #2ecc71; /* verde */
    border-color: #27ae60;     /* borde verde más oscuro */
}

.product-select.selected::after {
    content: "✔";
    color: white;
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
}


.card{
    transition: 0.20s ease;
    position: relative;
}
.card:hover {
    transform: scale(1.02);
    transition: 0.30s ease;
}

footer i {
    font-size: 1.5rem;
    opacity: 0.8;
}

/* Tablets */
@media (min-width: 576px) {
  .hero-portada {
    min-height: 70vh;
  }
}

/* Tablets grandes / laptops chicas (md) */
@media (min-width: 768px) {
  .catalog-img {
    height: 250px;
  }
  .hero-portada {
    min-height: 80vh;
  }
}

/* Escritorio grande (lg y superiores) */
@media (min-width: 992px) {
  .catalog-img {
    height: 400px;
  }
  .hero-portada {
    min-height: 90vh;
  }
}

/* ACOMODAR TAMAÑO DE LETRAS PARA CADA PANTALLA FS-MD NO EXISTE*/